<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BaseAppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <!--<runtime>
    <NetFx40_LegacySecurityPolicy  enabled="true"/>
  </runtime>-->

  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=|DataDirectory|posDB.sdf" providerName="System.Data.SqlServerCE.4.0"/>
  </connectionStrings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <BaseAppUI.Properties.Settings>
      <setting name="DBstring" serializeAs="String">
        <value>Data Source = posDB.sdf</value>
      </setting>
      <setting name="POSMainPrinter" serializeAs="String">
        <value>Star TSP100 Cutter (TSP143)</value>
      </setting>
      <setting name="POSKitchenPrinter" serializeAs="String">
        <value>Star TSP100 Cutter (TSP143)</value>
      </setting>
      <setting name="BusinessAddress1" serializeAs="String">
        <value>2263 W. Delicious Drive</value>
      </setting>
      <setting name="BusinessAddress2" serializeAs="String">
        <value>Foodopolis, HE 50982</value>
      </setting>
      <setting name="BusinessTel" serializeAs="String">
        <value>(847) 524-1401</value>
      </setting>
      <setting name="ServiceFee" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MerchantID" serializeAs="String">
        <value>72701812345</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>wpftest12345</value>
      </setting>
      <setting name="Tax1_State" serializeAs="String">
        <value>10.45</value>
      </setting>
      <setting name="Tax2_Village" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Tax_overall" serializeAs="String">
        <value>12.45</value>
      </setting>
      <setting name="Pin" serializeAs="String">
        <value>2572112345</value>
      </setting>
      <setting name="TipSignModifierSwitch" serializeAs="String">
        <value>SignOnReceipt</value>
      </setting>
      <setting name="BusinessName" serializeAs="String">
        <value>Great Eats!</value>
      </setting>
      <setting name="Url" serializeAs="String">
        <value>http://pos.acloud.net/tastynihari/</value>
      </setting>
      <setting name="CKey" serializeAs="String">
        <value>ck_b7a72263b6bf95a345c87951f04810a120826ba9</value>
      </setting>
      <setting name="CSecret" serializeAs="String">
        <value>cs_8e982aafabc481195e62c88f4685ea6a5fd99290</value>
      </setting>
      <setting name="DatabaseLocation" serializeAs="String">
        <value>C:</value>
      </setting>
      <setting name="DashboardIncludePendingOrders" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="SyncMode" serializeAs="String">
        <value>StandAlone</value>
      </setting>
      <setting name="AddonCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Addon201" serializeAs="String">
        <value>Meat;.75;meat;</value>
      </setting>
      <setting name="Addon202" serializeAs="String">
        <value>Scoop;1.75;scoop;</value>
      </setting>
      <setting name="Addon203" serializeAs="String">
        <value>Flavor;.75;flavor;</value>
      </setting>
      <setting name="Addon204" serializeAs="String">
        <value>Egg;.75;egg;</value>
      </setting>
      <setting name="Addon205" serializeAs="String">
        <value>Some;2.75;some;</value>
      </setting>
      <setting name="LoginScreen" serializeAs="String">
        <value>Show1</value>
      </setting>
      <setting name="EnableTableNumber" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="POSType" serializeAs="String">
        <value>Resturant</value>
      </setting>
      <setting name="EnableItemAdd" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="EnableFrequentItemUpdate" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="POSversion" serializeAs="String">
        <value>1.01</value>
      </setting>
      <setting name="POSExtraPrinterCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="POSExtraPrinter01" serializeAs="String">
        <value>Star TSP100 Cutter (TSP143)</value>
      </setting>
      <setting name="POSExtraPrinter02" serializeAs="String">
        <value>Star TSP100 Cutter (TSP143)</value>
      </setting>
    </BaseAppUI.Properties.Settings>
  </applicationSettings>
</configuration>
